<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Questionnaire2</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="container">
        <h1>Welcome, {{user}}</h1>
        <h2>Answer the following questions:</h2>

        {% with messages = get_flashed_messages(category_filter=["message"]) %}
        {% if messages %}
            <div class="flash-messages">
                {% for message in messages %}
                    <p class="flash-message">{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
        {% endwith %}

        
        <form method="post" action="{{ url_for('predict') }}">
            <div class="question">
                <label>8.Do you have difficulty concentrating, organizing thoughts, or making decisions?</label><br>
                <input type="radio" name="question8" value="Yes"> Yes
                <input type="radio" name="question8" value="No"> No
            </div>
            <div class="question">
                <label>9.Do you feel unmotivated, struggle to perform daily activities, or withdraw from social interactions?</label><br>
                <input type="radio" name="question9" value="Yes"> Yes
                <input type="radio" name="question9" value="No"> No
            </div>
            <div class="question">
                <label>10.Do you often feel irritable or restless, with persistent tension in your body (e.g., muscle tension or trembling)?</label><br>
                <input type="radio" name="question10" value="Yes"> Yes
                <input type="radio" name="question10" value="No"> No
            </div>
            <div class="question">
                <label>11.Have you noticed frequent, extreme mood swings, alternating between periods of high energy and depressive episodes?</label><br>
                <input type="radio" name="question11" value="Yes"> Yes
                <input type="radio" name="question11" value="No"> No
            </div>
            <div class="question">
                <label>12.Do you feel a constant need to double-check things, repeat certain routines, or excessively clean or organize?</label><br>
                <input type="radio" name="question12" value="Yes"> Yes
                <input type="radio" name="question12" value="No"> No
            </div>
            <div class="question">
                <label>13.Have you noticed a significant decrease in your motivation, along with social withdrawal and difficulty functioning in daily life?</label><br>
                <input type="radio" name="question13" value="Yes"> Yes
                <input type="radio" name="question13" value="No"> No
            </div>
            <div class="question">
                <label>14.Do you often experience physical symptoms like headaches, pain, or fatigue without an apparent cause?</label><br>
                <input type="radio" name="question14" value="Yes"> Yes
                <input type="radio" name="question14" value="No"> No
            </div>

            <button type="submit">Submit</button>
            <div class="back-to-home">
                <a href="{{ url_for('home') }}">Back to Home</a>
            </div>
        

        </form>
    </div>
</body>
</html>
